{% import 'default/macros.html.twig' as macros %}

<div class="row glog-list-item">
    <div class="col-md-6 col-info">
        <h4>{{ post.title }}</h4>
        <p>
            <span class="glog-date" style="text-align: right;">{{ post.publishedAt|date("m/d/Y") }}</span>
        </p>
        <p class="glog-blog-teaser">
            {{ macros.cut(post.text) }}
        </p>
    </div>
    <div class="col-md-6 col-pic">
        {% if post.imageName is not null %}
            {{ macros.img_thumbnail(post.imageName, path('post_show', {'id': post.id})) }}
        {% endif %}
    </div>
</div>

<hr>