<div class="glog-cartoon-nav text-center">
    {% if not neighbours['previous'] is empty %}
        <a class="btn btn-default btn-sm" href="{{ path('cartoon_id', {'id': neighbours['previous']}) }}">Previous</a>
    {% endif %}
        <a class="btn btn-default btn-sm" href="{{ path('cartoon_id', {'id': 'random'}) }}">RANDOM</a>
    {% if not neighbours['next'] is empty %}
        <a class="btn btn-default btn-sm" href="{{ path('cartoon_id', {'id': neighbours['next']}) }}">Next</a>
    {% endif %}
</div>