<nav class="navbar navbar-default navbar-fixed-top glog-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand glog-header" href="{{ path('homepage') }}">The Mighty Glog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><button type="button" class="btn btn-default navbar-btn">Sign out - {{ app.user.username }}</button></a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>