<nav class="navbar navbar-default navbar-fixed-top glog-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand glog-heading" href="#">themightyglog</a>
        </div>
    </div>
</nav>