<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to the world of the Mighty Glog!{% endblock %}</title>
        <link rel="stylesheet" href="/css/glog.css">
            {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Fira+Mono|Monofett" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% include 'components/navbar.html.twig' %}
            {% include 'components/flash_notifications.html.twig' %}
            {% block body %}{% endblock %}
            {# {% include 'components/footer.html.twig' %} #}
        </div>

        {% block javascripts %}{% endblock %}
        {% include 'components/google_analytics.html.twig' %}
    </body>
</html>
