{% extends ":default:base_frontend.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <p>Hi there,</p>
        <p>
            welcome to my website. I am a hobby cartoonist with a day job in programming. I have doodled on napkins since I can imagine, but never really thought about going public with
            these things. This has changed with programming my own website, which gave me the autonomy to output as I want it.<br>
            The beneficial effect of doing this are:
            <ul>
                <li>self-enforced pressure to output more</li>
                <li>care more about the quality.</li>
                <li>maybe someone actually likes these things</li>
            </ul>
        </p>
        <p>
            My inspirations are (among many others) <a href="https://en.wikipedia.org/wiki/Life_in_Hell">Matt Groening's 'Life in Hell'</a>,
            <a href="https://en.wikipedia.org/wiki/The_Fabulous_Furry_Freak_Brothers">Gilbert Shelton's 'Fabulous Furry Freak Brothers'</a>
            and <a href="https://en.wikipedia.org/wiki/Gaston_(comics)">'Gaston' from Franquin</a>. I love the way cartoons allow
            an absolutist vision of an artist to become reality, and how, with relatively small means and in a few small pictures, you can make biting social commentary or say meaningful things
            about the human condition - and people instantly get it.
        </p>
        <p>
            I am currently based in <a href="https://en.wikipedia.org/wiki/Cologne">Cologne</a>, a historic
            city in the far west of Germany, though I try and get out at least once a year and travel the globe as far as I can. <br>
            In my spare time I try to be a reasonably good saxophone player (-> check out my Jazz Tribute Site <a href="{{ path('jazz') }}">here</a>) and
            not suck at rock climbing.<br>
        </p>
        <p>
            I am also interested in politics and try and follow the current debates as closely as possible, if you want to check out my reading list click
            <a href="{{ path('also_of_interest') }}">here</a>.
        </p>
        <div class="glog-parallax" style="background-image: url('{{ asset('/images/glog_icon_150.png') }}');"></div>
    </div>
{% endblock %}