{% extends ":default:base_frontend.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <p>Hi there,</p>
        <p>
            welcome to my website. I am a hobby cartoonist with a day job in programming. I am currently based in <a href="https://en.wikipedia.org/wiki/Cologne">Cologne</a>, a historic
            city in the far west of Germany, though I try and get out at least once a year and travel the globe as far as I can. <br>
            When I am not working or doodling on a napkin, I try to be a reasonably good saxophone player (-> check out my Jazz Tribute Site <a href="{{ path('jazz') }}">here</a>) and
            improve my rock climbing skills (usually in a gym, since there are no mountains nearby).<br>
            I am also interested in politics and try and follow the current debates as closely as possible without trying to get cynical, if you want to check out my reading list click
            <a href="{{ path('also_of_interest') }}">here</a>.<br>
            I am also a keen gardener and, consequently, cook.<br>
            When I
        </p>
        <p>

        </p>
        <div class="glog-parallax" style="background-image: url('{{ asset('/images/glog_icon_150.png') }}');"></div>
    </div>
{% endblock %}