{% extends ":default:base_frontend.html.twig" %}

{% block title %}Career{% endblock %}

{% block body %}
    <p>
        Even though this is mainly a cartoon blog, I am, by profession, a software developer - and a happy one at that.
        I have worked with quite a few programming languages in my career.<br>
        I have settled on web development for the last couple of years, mainly (but not exclusively) with the LEMP-Stack and increasing
        amounts of node.js, but am interested in most aspects of Software Development and Delivery.<br>
        Please refer to my CV for any further information.
    </p>
    <p>
        Please enter the code you find on the backside of my card to enable the download of my CV:
        <form action="/secure-cv" method="post" name="cv_password" >
            <label for="Password"></label>
            <input name="password">
            <select name="language">
                <option>EN</option>
                <option>DE</option>
            </select>
            <button type="submit"></button>
        </form>
    </p>
    <p>
        Why, you may ask, do you not put your CV on the site without securing it? Well, firstly, because I am
        sort of sensitive when it comes to putting out private information and secondly, because I can.
    </p>
{% endblock %}