body {
    margin-top: 100px;
    font-family: "Fira Mono";
    background-color: #D04747;
}

h4 {
    font-size: 2em;
}

.glog-navbar {
    color: #ffffff;
    background-color: #750E0E;
}

.glog-list-item {
    margin-top: 10px;
}

.glog-list-item .col-info {
    padding-top: 35px;
}

.glog-heading {
    font-family: Monofett;
    font-size: 45px;
    padding-top: 25px;
    color: #ffffff;
}

.glog-date {
    color: #A9A9A9;
}

.glog-blog-teaser {
    font-size: 0.8em
}