{% block body %}
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            {% for post in posts %}
                {% include ':components:blog_item.html.twig' %}
            {% endfor %}
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">

        </div>
    </div>
{% endblock %}