<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome to the world of the Mighty Glog!{% endblock %}</title>
</head>
<body>
    <script src="/js/libs/p5/p5.min.js"></script>
    <script src="/js/custom/snake.js"></script>
    {% include 'components/google_analytics.html.twig' %}
</body>
</html>
