<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome to the world of the Mighty Glog!{% endblock %}</title>
</head>
<body>
<script src=/js/permutation.js></script>
</body>
</html>
